*{margin: 0 auto;padding: 0;list-style:none;font-family: "맑은 고딕";}
a{cursor: pointer;text-decoration: none;color: inherit;}
html,body{ background-color: rgb(37,37,37);
}
header{ 
    width: 100%;background-color: rgb(37,37,37);
}
.logo{ /* header에 logo만 주고 logo=div width height 설정되면 => margin: 0 auto 센터  */
    width: 100px;height: 120px;
}
.logo img{
    width: 100px;height: 100%;
}
nav{
    width: 100%;
    background-color: rgb(37,37,37);
}
.menu{ /*ul로 w,h 주고 가둔다 */
    width: 600px;height: 40px;
}
.menu li { /* li 5개 width주고, height 부모 100%  */
    width: 120px;height: 40px;
    color: #fff;  text-align: center;line-height: 40px;
    float: left;
    /* 5개=600 딱 맞게해 float left로 block을 가로로 딱 떨어지게 설정  */
    position: relative;
}
.menu li:hover{
    background-color: salmon;
}
.menu li .submenu{ /* li 안에 submenu*/
    width: 120px;
    background-color: rgb(37,37,37);
    display: none;
    z-index: 99; /*z-index 먹여서 슬라이드 down시 main위로 설정*/
    position: absolute; /*abs 먹이고 z-index */
}
.submenu li{ /*sub안에 li 목록*/
    width: 120px; height: 40px;
    text-align: center; line-height: 40px;
}
main{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color: #fff;
}
main .dig:hover{
    color: coral;
} 
